<div class="grid m-0 p-0 toolbar-shadow toolbar-height">
  <!-- <div class="col-12 lg:col-1 md:col-1 xl:col-1"></div> -->
  <div class="col-12 lg:col-12 md:col-12 xl:col-12">
    <img style="float: left" class="ml-3" src="assets/morphowiz.svg" />
    <span class="flex-auto"></span>
    <div
      style="float: right; font-family: inter; color: #4f46ba"
      class="flex align-items-center mr-3 justify-content-center min-h-full"
    >
      <!-- <div class="font-semibold text-lg vertical-align-middle mt-3"> -->

      <div class="right-cont flex items-center">
        <div class="name pt-2">
          <div>Mayur Prajapati</div>
          <div>Research ANalyst</div>
        </div>
        <!-- <div> -->
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Pan_Blue_Circle.png/640px-Pan_Blue_Circle.png"
          alt=""
          width="50px"
        />
        <!-- </div> -->
      </div>
      <!-- </div> -->
    </div>
  </div>
  <!-- <div class="col-12 lg:col-1 md:col-1 xl:col-1"></div> -->
</div>
